<a href="https://colab.research.google.com/github/ksm0409/Practice/blob/main/(3)%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 2739번
# 구구단

a = int(input())
# for i in range(9) : print(a, "*", i+1, "=", a*(i+1))
for i in range(1,10) : print(a, "*", i, "=", a*i)

3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [ ]:
# 10950번
# A+B

T = int(input())

for _ in range(T) :
  A, B = map(int, input().split())
  print(int(A+B))

# num=int(input())
# print(*[sum(map(int,input().split())) for _ in range(0,num)])

# a = int(input())
# for i in [list(map(int,input().split())) for i in range(a)]:
#   print(sum(i))

# 3
# 0 : [1 2]
# 1 : [3 4]
# 2 : [5 6]

3
1 2
3
3 4
7
5 6
11

In [ ]:
# 리스트 인덱싱(검색)

a = [101, 102, 'b', 'l', 'o', 103, 104, 105]

print(f'a[0] : {a[0]}')

a[0] : 101

In [ ]:
# 8393번
# 합

b = 0;
for i in range(1,int(input())+1) : b += i
print(b)

# num = int(input())
# print(sum(list(range(1,1+num))))

# n = int(input())
# result = sum([i for i in range(1, n+1)])
# print(result)

6
21

In [ ]:
# 25304번
# 영수증

X = int(input())
N = int(input())
C = 0
for _ in range(N) :
  A, B = map(int, input().split())
  C += A*B
if X == C : print("Yes")
else : print("No")


# a,*l=map(int,open(0).read().split())
# print(['No','Yes'][a==sum(i*j for i,j in zip(l[1::2],l[2::2]))])


# print("YNeos"[int(input())!=sum([a*b for a,b in [map(int,input().split()) for _ in [0]*int(input())]])::2])


# a=int(input())
# for i in range(int(input())):
#     b,c=map(int,input().split())
#     a-=b*c
# print("No" if a else "Yes")

250000
4
20000 5
30000 2
10000 6
5000 8
NO

In [ ]:
# 25314
# 코딩은 체육과목 입니다 long long long long int

for _ in range(int(input())//4) : print("long ", end="")
print("int")

# print(int(input())//4*'long '+'int')

15
long long long int

In [ ]:
# 15552번
# 빠른 A+B

import sys

T = int(input())
for _ in range(T) :
  A, B = map(int, sys.stdin.readline().split())
  print(A+B)

In [ ]:
# 11021번
# A+B(7)

import sys

for i in range(int(input())) :
  A, B = map(int, sys.stdin.readline().split())
  print(f'Case #{i+1}: {A+B}')

In [ ]:
# 11022번
# A+B(8)

# "Case #x: A + B = C"

import sys

for i in range(int(input())) :
  A, B = map(int, sys.stdin.readline().split())
  print(f'Case #{i+1}: {A} + {B} = {A+B}')

In [18]:
# 2438번
# 별찍기

N = int(input())
for i in range(N) :
  print((i+1)*"*")

5
*
**
***
****
*****