<a href="https://colab.research.google.com/github/ksm0409/Practice/blob/main/(3)%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 2739번
# 구구단

a = int(input())
# for i in range(9) : print(a, "*", i+1, "=", a*(i+1))
for i in range(1,10) : print(a, "*", i, "=", a*i)

3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [5]:
# 10950번
# A+B

T = int(input())

for _ in range(T) :
  A, B = map(int, input().split())
  print(int(A+B))

# num=int(input())
# print(*[sum(map(int,input().split())) for _ in range(0,num)])

3
2 1
3
5 4
9
9 8
17