<a href="https://colab.research.google.com/github/ksm0409/Practice/blob/main/(4)1%EC%B0%A8%EC%9B%90%EB%B0%B0%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 10807번
# 개수 세기

N = int(input())
L = list(map(int, input().split()))
V = int(input())

print(L.count(V))

11
1 2 1 2 1 2 1 2 1 2 1
1
6

In [ ]:
# 10871번
# X보다 작은 수

A, B = map(int, input().split())
L = list(map(int, input().split()))
for i in range(A) :
  if L[i]<B : print(L[i], end=" ")

11 5
1 2 3 4 5 6 7 8 9 10 11
1 2 3 4

In [ ]:
# 10818번
# 최소, 최대

N = int(input())
L = list(map(int, input().split()))
print(min(L), max(L))

5
11 12 13 14 15
11 15

In [ ]:
# 2562번
# 최댓값

A = []
for i in range(9) :
  A.append(int(input()))

# A = [int(input()) for _ in range(9)]

print(max(A))
print(A.index(max(A))+1)

1
3
5
7
9
8
6
4
2
10
1

In [ ]:
# 10810번
# N개의 바구니, M번 공 넣기


N, M = map(int, input().split())
L = [0] * (N+1)

for _ in range(M) :
  A, B, C = map(int, input().split())
  for i in range(A, B+1) :
    L[i] = C

# for i in range (1, N+1) : print(L[i], end=' ')
print(*L[1:])

5 4
1 2 3
3 4 4
1 4 1
2 2 2
1 2 1 1 0

In [ ]:
# 10813번
# 공 바꾸기

N, M = map(int, input().split())

# L = [0] * (N+1)
# for i in range(1, N+1) : L[i] = i
L = [0] + [*range(1, N+1)]

for _ in range(M) :
  A, B = map(int, input().split())
  # L[0] = L[A]
  # L[A] = L[B]
  # L[B] = L[0]
  L[A], L[B] = L[B], L[A]

print(*L[1:])

5 4
1 2
3 4
1 4
2 2
3 1 4 2 5

In [ ]:
# 5597번
# 과제 안 내신 분..?

# L = []
# for i in range(30) :
#   L.append(i+1)
# for i in range(28) :
#   A = int(input())
#   L.remove(A)
# print(min(L))
# print(max(L))

L=list(map(int,range(1,31)))
for i in range(28):
    L.remove(int(input()))
for j in L:
    print(j)

1
2
3
4
5
6
7
8


In [3]:
# 3052번
# 나머지 리스트

L = []
for _ in range(10) :
  A = int(input())
  if A%42 not in L :
    L.append(A%42)
print(len(L))

# print(len(set(L))) >> set : 중복 값 제거(순서는 뒤섞임)

1
42
1
84
2
56
2
2
3
3
5

In [15]:
# 10811번
# 바구니 뒤집기

A, B = map(int, input().split())
L = [i for i in range(1, A+1)]
for i in range(B) :
  x, y = map(int, input().split())
  while(x<y) :
    try :
      L[x-1], L[y-1] = L[y-1], L[x-1]
      x += 1
      y -= 1
    except :
      break
print(*L)

# A,B = map(int, input().split())
# L = [*range(1,A+1)]
# for _ in range(B):
#     i,j = map(int, input().split())
#     L[i-1:j] = L[i-1:j][::-1]
# print(*L)

5 4
1 2
3 4
1 4
2 2
3 4 1 2 5

In [26]:
# 1546번
# 평균
A = int(input())
L = [*map(int, input().split())]

M = max(L)
for i in range(A) :
  L[i] = (L[i]*100)/M

print(float(sum(L)/A))

# for i in range(A) :
#   L[i] = (L[i]*100)/max(L) >> L[i]가 실시간으로 바뀌어버림

# N=int(input())
# L=list(map(int,input().split()))
# print(sum(L)/max(L)*100/N)
# 에라이

3
10 20 30
66.66666666666667