<a href="https://colab.research.google.com/github/ksm0409/Practice/blob/main/(4)1%EC%B0%A8%EC%9B%90%EB%B0%B0%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 10807번
# 개수 세기

N = int(input())
L = list(map(int, input().split()))
V = int(input())

print(L.count(V))

11
1 2 1 2 1 2 1 2 1 2 1
1
6

In [ ]:
# 10871번
# X보다 작은 수

A, B = map(int, input().split())
L = list(map(int, input().split()))
for i in range(A) :
  if L[i]<B : print(L[i], end=" ")

11 5
1 2 3 4 5 6 7 8 9 10 11
1 2 3 4

In [ ]:
# 10818번
# 최소, 최대

N = int(input())
L = list(map(int, input().split()))
print(min(L), max(L))

5
11 12 13 14 15
11 15

In [ ]:
# 2562번
# 최댓값

A = []
for i in range(9) :
  A.append(int(input()))

# A = [int(input()) for _ in range(9)]

print(max(A))
print(A.index(max(A))+1)

1
3
5
7
9
8
6
4
2
10
1

In [4]:
# 10810번
# N개의 바구니, M번 공 넣기


N, M = map(int, input().split())
L = [0] * (N+1)

for _ in range(M) :
  A, B, C = map(int, input().split())
  for i in range(A, B+1) :
    L[i] = C

# for i in range (1, N+1) : print(L[i], end=' ')
print(*L[1:])

5 4
1 2 3
3 4 4
1 4 1
2 2 2
1 2 1 1 0

In [10]:
# 10813번
# 공 바꾸기

N, M = map(int, input().split())

# L = [0] * (N+1)
# for i in range(1, N+1) : L[i] = i
L = [0] + [*range(1, N+1)]

for _ in range(M) :
  A, B = map(int, input().split())
  # L[0] = L[A]
  # L[A] = L[B]
  # L[B] = L[0]
  L[A], L[B] = L[B], L[A]

print(*L[1:])

5 4
1 2
3 4
1 4
2 2
3 1 4 2 5