<a href="https://colab.research.google.com/github/ksm0409/Practice/blob/main/%EB%B0%B1%EC%A4%80%EC%97%B0%EC%8A%B52.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
# 1000번
# A+B 입출력

# A = int(input())
# B = int(input())
# print(A+B)

A, B = map(int, input().split())
print(A+B)

# A,B,C,*_ = map(int, input().split())
# print(A+B)
# print(_)

1 2
3

In [ ]:
# 1001번
# A-B 입출력

A, B = map(int, input().split())
print(A-B)

3 2
1

In [ ]:
# 10998번
# AxB 입출력

A, B = map(int, input().split())
print(A*B)

2 3
6

In [ ]:
# 1008번
# A/B 입출력

A, B = map(int, input().split())
print(A/B)
# print('{:.2f}'.format(A/B))
# print('{:.2f}'.format(A/B))
# print('%.2f'%(A/B))
# print(f'{(A/B):.2f}')
# print(round(A/B,2))

2 3
0.6666666666666666

In [ ]:
# 10869번
# 사칙연산 출력

A, B = map(int, input().split())
print(A+B)
print(A-B)
print(A*B)
print(A//B)
print(A%B)

7 3
10
4
21
2
1

In [ ]:
# 10926번
# ??! 이어서 출력
# A=input()
# print(A+"??!")

print(input()+"??!")

kalgu
kalgu??!

In [ ]:
# 18108번
# 숫자변환 출력
# A = int(input())
# print(A-543)

print(int(input())-543)

2541
1998

In [ ]:
# 10430번
# (A+B)%C는 ((A%C) + (B%C))%C 와 같을까?
# (A×B)%C는 ((A%C) × (B%C))%C 와 같을까?
# 세 수 A, B, C가 주어졌을 때, 위의 네 가지 값을 구하는 프로그램을 작성하시오.

A, B, C = map(int, input().split())
print((A+B)%C)
print(((A%C)+(B%C))%C)
print((A*B)%C)
print(((A%C)*(B%C))%C)

# print((A+B)%C, ((A%C)+(B%C))%C, (A*B)%C, ((A%C)*(B%C))%C)

5 8 4
1 1 0 0

In [ ]:
# 2588번
# 세자리 수 곱셈

# A, B = map(int, input().split())
# print(A*(B%10))
# print(A*((B%100)//10))
# print(A*(B//100))
# print(A*B)

A = int(input())
B = input()

# print(A*int(B[2]))
# print(A*int(B[1]))
# print(A*int(B[0]))
# print(A*int(B))

for i in (2,1,0):
  print(A*int(B[i]))
print(A*int(B))

472
385
2360
3776
1416
181720

In [ ]:
# 11382번
# 3개 수 더하기

# A, B, C = map(int, input().split())
# print(A+B+C)

print(sum(map(int, input().split())))

77 77 7777
7931

In [ ]:
# 10171번
# 고양이 출력

print('\    /\\')
print(" )  ( ')")
print('(  /  )')
print(' \(__)|')

\    /\
 )  ( ')
(  /  )
 \(__)|

In [ ]:
# 10172번
# 개 출력

print('|\_/|')
print('|q p|   /}')
print('( 0 )"""\\')
print('|"^"`    |')
print('||_/=\\\\__|')

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

In [ ]:
# 1330번
# 두 수 비교하기

A, B = map(int, input().split())
if A > B : print('>')
elif A < B : print('<')
else : print('==')

5 5
==

In [ ]:
# 9498번
# 시험 성적

A = int(input())
if 90 <= A <= 100 : print('A')
elif 80 <= A < 90 : print('B')
elif 70 <= A < 80 : print('C')
elif 60 <= A < 70 : print('D')
else : print('F')

100
A

In [ ]:
# 2753번
# 윤년

A = int(input())
if ( A%4 == 0 and A%100 != 0 ) or A%400 == 0 : print(1)
else : print(0)

1999
0

In [ ]:
# 14681번
# 사분면 고르기

A = int(input())
B = int(input())
# if A*B > 0 :
#   if A > 0 : print(1)
#   else : print(3)
# else :
#   if A > 0 : print(4)
#   else : print(2)

if A > 0 : print(1 if B>0 else 4)
else : print(2 if B>0 else 3)

-1
-1
3

In [ ]:
# 2884번
# 상근아일어나

A, B = map(int,input().split())
if B >= 45 : print(A, int(B-45))
else :
  if A == 0 : print(23, int(B+15))
  else : print(int(A-1), int(B+15))

23 40
22 55

In [35]:
# 양수 짝수 / 음수 홀수
x = -1
A = "1234567"
print(A[2])
print(A[::2])
print(A[x>0::2])

3
1357
1357

In [36]:
A = "안녕하세요"
x = int(input())
y = int(input())
print("3421"[x>0::2][y>0])
print(A[::-1])

12
2
1
요세하녕안